body{
   width: 100%;
  justify-content: center;
  align-items: center;
}
.banner{
    margin: 0 auto;
    width: 793px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.myslide{
    width: 583px;
    float: left;
    position: relative;
    margin-right: 10px;
}
.myslide img{
    width: 100%;
}
.cot {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 187px;
    position: relative;
    float: left;
    
}

.khoi{
    
    float: left;
    width: 400px;
    height: 260px;
    position: relative;
    overflow: hidden;
    transition: all 1s;
}
#k1 {
    
    margin-left: 22%;
}
.khoi:hover{
    width: 400px;
    height: 260px;
}
.khoi > .lop1{
    width: 200px;
    position: absolute;
}
.khoi .lop2{
    color: black;
    text-align: center;
    background-color: white;
    left:10px;
    top:10px;
   width: 190px;
    height: 24px;
 position: absolute;
 opacity: 0;
 transition: all 1s;
}
.khoi:hover .lop2{
    opacity: 0.8;
    transform: translateX(10px); 
    /* di chuyển sang bên phải */
}
.new{
    width: 190px;
    position: relative;
    font-size: 12px;
    opacity: 0;
    transition-delay: all 1.2s;

}
.khoi:hover .new{
     left: 210px;
     opacity: 1;
     
}
.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    height: calc(100% - 20%); 
    /* điều chỉnh chiều cao khi hover */
    object-fit: cover; 
    /* ko rõ lắm cái cover nghĩa là gì */
    transition: .5s;
  }
  
  .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
  
    line-height: 2.6;
  }
  
  .box:hover { flex:  60%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }
.khoithe{
    width: 100%;
    height: 300px;
}
.vuong{
    position: relative;
    width: 300px;
    height: 300px;
   
}
.vuong .duoi{
    top:12px;
    left:12px;
    width: 80%;
    height:80%;
    border: 10px red;
    border-style: solid;
    position: absolute;
    transition: 0.2s;
}
.vuong .trung{
    top:50px;
    left:50px;
    width: 80%;
    height:80%;
    border: 10px rgb(248, 252, 17);
    border-style: solid;
    position: absolute;
    transition: 0.2s;
}
.vuong .tren {
    overflow: hidden;
    width: 300px;
    height: 300px;
    top:10%;
    left:10%;
    position: absolute;
    box-sizing: border-box;
}
.tren1{
    border: 10px rgb(0, 0, 0);
    border-style: solid;
    width: 80%;
    height:80%;
}
.vuong:hover .duoi{
    top:50px;
    left:50px;
    transition: 1s;
}
.vuong:hover .trung{top:12px;
    transition: 1s;
    left:12px;}
.tron{
    width: 500px;
    height: 500px;
position: relative;
}
.tron .tron1{
    top:100px;
    left: 100px;
    width: 200px;
    height: 200px;
    background-color: pink;
    border-radius: 50%;
    position:absolute;
    transition: all 2s;
}
.tron .tron2{
    top:100px;
    left: 100px;
    width: 200px;
    height: 200px;
    background-color: pink;
    border-radius: 50%;
    position:absolute;
    opacity: 0.8;
    transition: all 1s;
}
.tron .tron3{
    width: 200px;
    height: 200px;
    top:100px;
    left: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    transform: scale(0);
    transition: 1.5s;
    position: absolute;
}
.tron:hover .tron1{
    transform: scale(2);
    opacity: 0;
}
.tron:hover .tron2{
    transform: scale(2);
    opacity: 0;
}
.tron:hover .tron3{
    transform: scale(1);

}
@keyframes example {
    0% {opacity: 0;
        left:0px; top:0px;}
    100% {
        opacity: 1;
        left:200px; top:0px;
       
       }
   
    
  }
  .thuno2{
      width: 400px;
      height: 400px;
  }
div.thuno2-1{
    width: 100px;
    position: relative;
    height: 100px;
    background-color: crimson;
    animation-name: example;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    /* -webkit-animation-fill-mode: both;  co dinh tai vi tri cuoi cung */
}
@keyframes round_round {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.new1{
    margin-left:20px ;
    border-radius: 100px 100px  10px 10px;
    background: #58257b;
    padding: 20px; 
    width: 200px;
    height: 200px; 
    
}
.new2{
    width: 900px;
    height: 300px; 
}
.new2 .new2-tren{
    position: relative;
    height: 100px; 
}
.new2 .new2-tren p{
    position: absolute;
    top: 18px;
    left: 224px;
    font-size: 30px;
}
.new2 .new2-duoi{
    width: 900px;
    height: 200px; 
    display: flex;
}
.thenew2-duoi{
    width: 300px;
    height: 200px; 
}
.duoitrong{
    margin: 0 auto;
   
    border-radius: 100px 100px  10px 10px;
    background: #58257b;
    padding: 20px; 
    width: 200px;
    height: 200px; 
    transition: 1s;
    
}
.duoitrong:hover{
    transform: translatey(-10px); 
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgb(0 0 0 / 80%) ;
}
    
.thuno3{
    width: 300px;
    height: 100px;
    display: flex;
}
.thuno3-1{
    width: calc(100%-20%);
    height: 100px;
    margin-right: 10px;
    background-color: blue;
}